

.Login {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #ffffff;
}

.form h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.login-btn {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.login-btn .icon {
    margin-right: 10px;
    height: 40px;
}

.login-btn.github {
    background: #333;
    color: #fff;
}

.login-btn.github:hover {
    background: #444;
    transform: scale(1.05);
}

.login-btn.apple {
    background: #000;
    color: #fff;
}

.login-btn.apple:hover {
    background: #111;
    transform: scale(1.05);
}

.login-btn.google {
    background: #233e78;
    color: #fff;
}

.login-btn.google:hover {
    background: #233b6b;
    transform: scale(1.05);
}

.bg-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}

.bg-image img {
    width: 50%;
    height: auto;
    border-radius: 0 15px 15px 0;
}
